{% extends "base.html" %}
{% block content %}
<h2></h2>
<p>Your one-stop solution for managing client details and designing personalized fashion.</p>
<video width="640" height="360" controls autoplay loop muted style="display: block; margin: 20px auto;">
    <source src="../static/video/673c5e0082d619a0c0fdb8e2.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<div class="button-container">
    <a href="/add-client" class="custom-btn primary-btn">Add New Client</a>
    <a href="/view-clients" class="custom-btn secondary-btn">View Old Clients</a>
</div>
{% endblock %}
